body {
    background: url('/images/imageIndex.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body.login-bg {
    background: url('/images/imageIndex.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.table > :not(caption) > * > * {
    background-color: #ffffff !important;
}

ul, li {
    list-style: none;
}

.card {
    border-radius: 12px;
}

.card-header {
    border-radius: 12px 12px 0 0 !important;
}

textarea {
    min-height: 140px;
}

.btn {
    min-width: 120px;
}

.flash-success {
    background-color: green
}

.flash-error {
    background-color: red
}

.flash {
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0;
    border-radius: 5px;
    color: #132135;
}

@media (max-width: 991px) {
    .my-btn-icone {
        min-width: unset !important;
        width: 32px;
        height: 32px;
        padding: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .my-btn-icone span {
        display: none !important;
    }

}
